<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616470047859-l47q903gt735v2k674o6q71h10q3obku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616470047859-l47q903gt735v2k674o6q71h10q3obku</string>
	<key>API_KEY</key>
	<string>AIzaSyDz22PFrEbnPf332OYba8WzqEnRv13x-Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>616470047859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>test-7fca7</string>
	<key>STORAGE_BUCKET</key>
	<string>test-7fca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616470047859:ios:d88d5dfaaa8d97c69fce06</string>
</dict>
</plist>